<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>

  <body>
    <section class="header"> 
      <div class="navbar">
        <div class="logo">
          <a class="logo" href="/">James La</a>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </section>


  </body>
</html>
