* {
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #f0f8ff !important;
  font-family: "Courgette", cursive, "Poppins", sans-serif;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/* Navbar ( Header )*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* NavBar */
.navbar {
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #0096ff;
}

.logo {
  color: #f0f8ff;
  font-size: 40px;
  font-weight: 600;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #f0f8ff;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #24418f;
  display: block;
  margin: auto;
  transition: 0.2s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* INTRO */
.intro {
  text-align: left;
  width: 100vw;
  padding: 21% 20%;
  margin: 0;
}

.intro h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.intro-btns {
  display: flex;
  margin-top: 20px;
}

.intro-btns ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 0;
  position: relative;
}

.social-icons {
  display: flex;
  margin-top: 20px;
}

.social-icons ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 0;
  position: relative;
}

.social-icons a:link,
.social-icons a:visited {
  color: #24418f;
  text-decoration: none;
  font-size: 2.4rem;
}

.intro-btns a,
.social-icons:not(.unstyled) a {
  position: relative;
  color: #24418f;
  text-decoration: none;
  font-size: 25px;
  margin: 5px;
  background: none;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #24418f;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

.intro-btns a:hover,
.intro-btns a:active,
.intro-btns a:focus,
.social-icons a:hover,
.social-icons a:active,
.social-icons a:focus {
  background: #24418f;
  color: #f0f8ff;
}

.intro-btns a::before,
.social-icons a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #24418f;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.intro-btns a:hover::before,
.social-icons a:hover::before {
  height: 100%;
}

/* Projects */
.projects {
  height: 100vh;
  width: 100%;
  background-color: #0096ff;
  margin: auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.projects h1{
  font-size: 40px;
  font-weight: 700;
  padding: 14px;
  color: #fff;
  margin: 14px 10%;
}

.my-projects {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px 10%;
  color: #fff;
  overflow:hidden;
}

.project-item{
  background-color: black !important;
  height: 750px;
  border-radius: 15px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 10px;
}

.project-item .img-div{
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.project-item img{
  width: 25vw;
}

.project-items h2, .project-item p, .project-item h3{
  padding: 14px
}
.project-item h2{
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.project-item p{
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin-top: 25px;
}

.project-item .technologies{
  margin-top: auto;
  width:100%;
  display: flex;
}
.project-item h3, .technologies ul li{
  color: rgb(176, 175, 175);
  font-size: 12px;
}
.technologies ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.technologies ul li{
  padding: 5px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* SKILLS */
.skills {
  padding: 12% 0;
  background: #f0f8ff;
  color: #f0f8ff;
}
.skills-bx {
  background: #4dabff;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skills h2 {
  font-size: 45px;
  font-weight: 700;
}
.skills p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.skills-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skills-slider .item img {
  width: 120px;
  margin: 0 auto 15px auto;
}

/* About */
.about {
  height: 100vh;
  width: 100%;
  background-color: #0096ff;
  margin: auto;
}

.aboutme {
  display: flex;
  padding: 14%;
  align-items: center;
  color: #fff;
}
.about h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 14px;
}

.about h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 14px 0 14px 0;
}

.about p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 0px 0;
  padding: 14px 0 14px 0;
}

/* Contact */
.contact {
  width: 100%;
  max-width: 1900px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  padding: 5% 20%;
}

.contact form {
  padding: 6%;
  border: 2px solid #0096ff;
  border-radius: 1rem;
  width: 100%;
  align-items: center;
  background-color: #0096ff;
}

.contact h2 {
  padding: 20px;
  color: #fff;
  font-size: 2.5rem;
}

.contact input,
.contact textarea {
  width: calc(100% - 30px);
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  border: 3px solid #24418f;
  border-radius: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea{
  display: block;
  margin: 17px auto;
}

.contact textarea{
  height: 240px;
}

.contact button {
  font-size: 15px;
  font-weight: 400;
  width: 100px;
  padding: 15px;
  color:#24418f;
  background-color: #fff;
  border: 3px solid #24418f;
  border-radius: 3px;
  transition: 0.8s;
}

.contact button:hover {
  border-color: 24418f;
  background-color: #24418f;
  color: #fff;
}

.success,
.danger {
  padding: 15px;
  font-size: 17px;
  color: #fff;
}

.footer {
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  background-color: grey;
}

footer p {
  padding: 20px;
  font-size: 17px;
  color: purple;
}
