<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>????</title>
    <link rel="stylesheet" href="yui.css" />
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
  </head>
  <body>
    <main>
      <div class="container">
        <section class="yui">
          <div class="yui_header">
            <marquee behavior="slide"><img src="peach-and-goma-peach-goma.gif" length="450" width="450"></marquee>
          </div>
          <div class="yui_content">
            <div class="yui_content__item">
              <h2>Go on a date with me?</h2>
              <div class="btn-container">
                <button class="yes">Yes</button>
                <button class="no">No</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <script src="yui.js"></script>
  </body>
</html>
