@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --light-blue: #00e8da;
    --gray-16: #292929;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "barlow-medium", Arial;
  }
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    @apply text-secondary;
  }

  h1 {
    @apply text-6xl font-bold mb-2;
  }
  h2 {
    @apply text-4xl font-bold mb-2;
  }
  h3 {
    @apply text-2xl font-bold mb-2;
  }
  h4 {
    @apply text-4xl font-bold mb-8;
  }

  p {
    @apply text-lg tracking-wide;
  }

  strong {
    color: var(--light-blue);
  }

  svg {
    @apply w-8 h-8;
  }

  button a {
    @apply text-xl cursor-pointer;
  }
  .lb {
    color: var(--light-blue);
  }
  .bg-lb {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
  }
  .bg-gray-16 {
    background-color: var(--gray-16);
  }
  .text-gray-16 {
    color: var(--gray-16);
  }
  .vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .arrow-up {
    mix-blend-mode: difference;
  }
  .skills-grid {
    @apply gap-4 justify-items-center justify-center;
    grid-template-columns: repeat(3, 86px);
  }
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 8% 0;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 0 5%;
  width: 100%;
}

nav .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0 1% 0;
}

nav .top button {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}

nav .top button:hover a {
  color: #fff;
}

nav .top .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

nav .top .logo:hover {
  color: var(--light-blue);
}

nav .bottom {
  padding-bottom: 2%;
}

nav .bottom ul {
  display: flex;
  justify-content: left;
  gap: 2%;
  padding: 0;
  margin: 0;
}

nav .bottom a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: 5px;
  transition: 0.1s;
}

nav .bottom a:hover {
  color: var(--light-blue);
}

nav .bottom a.active {
  color: var(--light-blue);
}

/* Contact Section */
